.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: var(--white-color);
}

.footer-container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer-container a {
  text-decoration: none;
  color: var(--black-color);
}

.logos-container {
  display: flex;
  flex-grow: .6;
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.desenvolve-logo {
  width: 198px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.desenvolve-links {
  display: flex;
  flex-direction: column;
}

.social-media {
  text-align: center;
}

.social-media-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .875rem;
}

@media screen and (min-width: 320px) {
  .footer-container {
    justify-content: center;
    padding: 1.5rem;
  }

  .logos-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .footer-links {
    min-width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .desenvolve-links {
    margin-bottom: 1rem;
  }

  .social-media {
    max-width: calc((32px * 3) + 32px);
  }
}

@media screen and (min-width: 470px) {
  .logos-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1024px) {
  .footer-container {
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  .logos-container {
    justify-content: space-between;
  }

  .footer-links {
    min-width: 319px;
  }
}