.header {
  display: flex;
  background-color: var(--white-color);
}

.header-container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 auto;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--cobalt-color);
}

.search-container {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 8px;
}

.search-input {
  max-width: 185px;
  height: 100%;
  padding: 0 8px 0 31px;
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: var(--font-text);
  color: var(--white-color);
  background-color: var(--cerise-color);
}

.search-input::placeholder {
  color: var(--carnation-color);
  opacity: 1;
}

.search-input:focus,
.search-input:focus-visible {
  outline: none;
  border: 2px solid var(--flirt-color);
}

@media screen and (min-width: 320px) {
  .header {
    padding: 1rem;
  }
  
  .input-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 562px) {
  .header {
    padding: 1.5rem;
  }
  
  .input-container {
    width: fit-content;
  }
}